node_modules/
dist/
docs/
server/datasources.development.json
server/datasources.test.json
server-docs/
client-docs/
yarn.lock
client-unit-tests-report.html
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
npm-debug.log
